<!doctype html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<title>标题</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<script type="text/javascript" src="angular.new.js"></script>
</head>
<body>
	<div ng-controller="ctrl">
		姓名:<input type="text" name="" value="" ng-model="name">
		密码：<input type="text" name="" value="" ng-model="pwd">
		<button ng-click="login()">点击登录</button>
	</div>
</body>
<script>
	var mod=angular.module('app',[]);
	mod.controller('ctrl', ['$scope','$http', function($scope,$http){
		$scope.login=function(){
			$http({
				url:'test2.php',
				method:'get',
				params:{'user':$scope.name,'pwd':$scope.pwd}
			}).success(function(data){
				alert(data.msg)
			})
		}
	}])
</script>
</html>